# Data Notebook

This notebook shows what the raw data looks like and what the filtered data looks like.

In [1]:
# Imports #
from os import path
import pandas as pd

## Raw Data

In [2]:
raw_data = pd.read_csv('../data/raw_data.csv')
raw_data.head()

,assembly,chrom,start,end,strand,seq
0,GCF_000309985.2,NC_024803.2,44350126,44350638,-,AACGTTACACAAACCCAAACAAGAAAATACATCAAAAGTCACCCTA...
1,GCF_000801105.1,NW_017353143.1,6209626,6210138,+,CATCTTGAGCTTCCTCGAAAACAATCTGCTCTGTCTCTACATCATT...
2,GCF_000801105.1,NW_017353146.1,2729759,2730271,-,tacagataCAACCATCCTTGGAATGTATCATTCCACATTATACCAT...
3,GCF_000463585.1,NW_010966372.1,1523140,1523652,+,Agggaaaaatatatgaaaatttctgaatttgtaatttggtataata...
4,GCF_000001735.4,NC_003071.7,18874538,18875050,+,GGAATGTACTAATAAACTAGAAAAGATCTTGGGTCTGACTAATGCA...

In [3]:
raw_data.shape

(4066336, 6)

With the raw data, we are not getting the specific chromosome we want to interact with. Also, the sequence data is mixed with upercase and lowercase letters.

## Filtered Data

In [4]:
filtered_data = pd.read_csv('../data/filtered_data.csv')
filtered_data.head()

,assembly,chrom,start,end,strand,seq
0,GCF_000001735.4,NC_003071.7,18874538,18875050,+,GGAATGTACTAATAAACTAGAAAAGATCTTGGGTCTGACTAATGCA...
1,GCF_000001735.4,NC_003071.7,11719046,11719558,-,ATAATCATGGAGCCATATACAATTTAAGATGGTGCAAAAATGGCGA...
2,GCF_000001735.4,NC_003071.7,6908827,6909339,-,TTTCTGGTAAATCCGATTTTGGGAAACTCTAATTTGATCTCGAGAT...
3,GCF_000001735.4,NC_003071.7,15915806,15916318,+,TGTACTTCTCCCTTTCCTTGGGGTCATTGCATATAACCTCTTTCAC...
4,GCF_000001735.4,NC_003071.7,11195806,11196318,+,TTTAGTGGCTAGAAAGAAAACTTTTAACGATAAATTTACTTATGCA...

In [5]:
filtered_data.shape

(134472, 6)

With the filtered data, we get the chromosome we want to analyze, and the sequence is in all uppercase letters, making it easier to use.